.trustedBy{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    height: 100px;
    .container{
        width: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: lightgray;
        font-weight: 500;
        gap: 10px;
        img{
            height: 50px;
            object-fit: contain;
        }
    }
}